$common: (
    'white': #FFFFFF,
    'black': #000000,
    inactive : #CCCCCC,
    purchase : #EE4562,
    shadow: #00000059,
    tag: #F2F2F2,
    fb: #3E4DA1,
    line: #03C302,
    border :#AAAAAA,
    progress: #EB911B,
    light-border: #DDDDDD,
    border-dot : #C9C9C9,
    frame: #070203,
    footer-line: rgb(#FFF, .3),
    footer-copyright: rgb(#FFF, .7),
    text-primary: #333333,
    text-secondary: #707070,
    text-title: #646464,
    text-placeholder: #3333334D,
    text-inactive: #717171,
    text-disable: #33333380,
    text-high-light: #EB911B,
    text-link: #F91616,
);
$themes: (
    Pink: (primary: #F58397,
        secondary: #EE4562,
        active: #8B243F,
        bgc: #FEF5F5,
        progress: #EB911B,
        menuBgc: #33010ACC,
        ckTitle: #8B243F,
        require: #EE5176,
        radio-active: #F58397,
        split : #FAD6DA,
        text-active: #8B243F,
        text-hint: #AB370399,
        modal-hint: rgb(#EE4562, .7)),
    Orange: (primary: #E59A7B,
        secondary: #AB3703,
        active: #C96930,
        bgc: #FCE0CA,
        progress: #C96930,
        menuBgc: #C96930CC,
        ckTitle: #C96930,
        require: #C96930,
        radio-active: #E59A7B,
        split : #D2D2D2,
        text-active: #C96930,
        text-hint: #C9693099, 
        modal-hint: rgb(#AB3703, .7)),
    Green: (primary: #71A9AC,
        secondary: #08797F,
        active: #016558,
        bgc: #EEFFFF,
        progress: #B7D6D8,
        menuBgc: #016558CC,
        ckTitle: #016558,
        require: #016558,
        radio-active: #71A9AC,
        split : #B7D6D8,
        text-active: #016558,
        text-hint: #01655899, 
        modal-hint: rgb(#08797F, .7)),
    Blue: (primary: #7D95CE,
        secondary: #1F4A99,
        active: #00266C,
        bgc: #F1F4FF,
        progress: #00266C,
        menuBgc: #00266CCC,
        ckTitle: #00266C,
        require: #00266C,
        radio-active: #7D95CE,
        split : #C5CEE9,
        text-active: #00266C,
        text-hint: #00266C99, 
        modal-hint: rgb(#1F4A99, .7)),
    Purple: (primary: #AFA9CD,
        secondary: #A890CC,
        active: #6B5A77,
        bgc: #EBE2F1,
        progress: #6B5A77,
        menuBgc: #6B5A77CC,
        ckTitle: #6B5A77,
        require: #6B5A77,
        radio-active: #AFA9CD,
        split : #DFC7EC,
        text-active: #6B5A77,
        text-hint: #6B5A7799, 
        modal-hint: rgb(#6B5A77, .7)),
    Brown: (primary: #C5A08D,
        secondary: #5D3926,
        active: #AA592F,
        bgc: #3E3530,
        progress: #5D3926,
        menuBgc: #3E3530CC,
        ckTitle: #FFFFFF,
        require: #AA592F,
        radio-active: #C5A08D,
        split : #DCD5D1,
        text-active: #AA592F,
        text-hint: #AA592F99, 
        modal-hint: rgb(#5D3926, .7)),
    Tea: (primary: #6C8F6D,
        secondary: #325633,
        active: #66753D,
        bgc: #685F48,
        progress: #685F48,
        menuBgc: #325633CC,
        ckTitle: #FFFFFF,
        require: #66753D,
        radio-active: #6C8F6D,
        split : #BFC68E,
        text-active: #66753D,
        text-hint: #66753D99, 
        modal-hint: rgb(#325633, .7)),
    Black: (primary: #8E8E8E,
        secondary: #000000,
        active: #AE0000,
        bgc: #262626,
        progress: #AE0000,
        menuBgc: #262626CC,
        ckTitle: #FFFFFF,
        require: #AE0000,
        radio-active: #8E8E8E,
        split : #D4D4D4,
        text-active: #AE0000,
        text-hint: #AE000099, 
        modal-hint: rgb(#262626, .7)),
);

@mixin themify($themes: $themes) {
    @each $theme,
    $map in $themes {
        .theme#{$theme} {
            $theme-map: () !global;
            @each $key,
            $submap in $map {
                $value: map-get(map-get($themes, $theme), '#{$key}');
                $theme-map: map-merge($theme-map, ($key: $value)) !global;
            }
            @content;
            $theme-map: null !global;
        }
    }
}

@function themed($key) {
    @return map-get($theme-map, $key);
}